$bold: 700;
$color: #505050;

.top_header{
    h1{
        font-weight: $bold;
        color: $color;
    }
}

.top_header{
    .show{
        h2{
            a{
                font-weight: $bold;
                color: $color;
            }
        }
    }
}

.container1{
    span{
        a{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container1{
    .thumbnail{
        h1{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container1{
    .thumbnail{
        .home{
            h2{
                color: $color;
            }
        }
    }
}

.container1{
    .thumbnail{
        .btn{
            a{
                font-weight: $bold;
                color: $color;
            }
        }
    }
}

.container2{
    .top{
        h2{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container2{
    .top{
        p{
            color: $color;
        }
    }
}

.container2{
    .table{
        h3{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container2{
    .table{
        p{
            color: $color;
        }
    }
}

.container3{
    .menu{
        .btn{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container3{
    .gallery{
        .hover{
            span{
                font-weight: $bold;
                color: $color;
            }
        }
    }
}

.container3{
    .btn{
        a{
            color: $color;
        }
    }
}

.container4{
    h2{
        font-weight: $bold;
        color: $color;
    }
}

.container4{
    .bar1{
        h2{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container4{
    .bar2{
        h2{ 
            font-weight: $bold;
            color: $color;
        }
    }
}

.container4{
    .bar3{
        h2{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container4{
    .bar1{
        span{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container4{
    .bar2{
        span{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container4{
    .bar3{
        span{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container5{
    .top_text{
        h2{
            font-weight: $bold;
            color: $color;
        }
    }
}

.container6{
    .input_block{
        .btn{
            font-weight: $bold;
            color: $color;
        }
    }
}

